@model BloodBankApp.Models.BloodRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BloodRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodRequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodRequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodNeedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodNeedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Countity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoPathUrl)
        </dt>

        <dd>
            <img src="@Url.Content(Model.PhotoPathUrl)" height="70" width="70" alt="No Image" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.GenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id =Model.id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-warning"})
</p>
